/* 通用样式 */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--vpj-font-size);
    font-weight: var(--vpj-font-weight-normal);
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

[class^="vpj-"] {
    border-color: var(--vpj-c-border);
    border-style: solid;
    border-width: 0px;
    min-height: 0;
    min-width: 0;
    z-index: var(--vpj-z-index-1);
}

.vpj-btn {
    display: flex;
    align-items: center;
}

.vpj-icon {
    display: inline-block;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center center;
}

.vpj-text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.vpj-teleport {
    pointer-events: none;
    position: fixed;
    user-select: none;
}

/* 自定义滚动条组件 */
.vpj-scroll-x,
.vpj-scroll-y,
.vpj-scroll-xy {
    scrollbar-width: unset;
    scrollbar-color: unset;
}

.vpj-scroll-x {
    overflow-x: auto;
}

.vpj-scroll-y {
    overflow-y: auto;
}

.vpj-scroll-xy {
    overflow: auto;
}

.vpj-scroll-y,
.vpj-scroll-xy {
    scrollbar-gutter: stable both-edges;
}

/* 自定义滚动条尺寸 */
.vpj-scroll-x::-webkit-scrollbar,
.vpj-scroll-xy::-webkit-scrollbar {
    height: 4px;
}

.vpj-scroll-y::-webkit-scrollbar,
.vpj-scroll-xy::-webkit-scrollbar {
    width: 4px;
}

/* 自定义滚动条背景 */
.vpj-scroll-x::-webkit-scrollbar-track,
.vpj-scroll-y::-webkit-scrollbar-track,
.vpj-scroll-xy::-webkit-scrollbar-track {
    background: var(--vpj-overlay-scroll-area-track-bg);
}

.vpj-scroll-x::-webkit-scrollbar-track:hover,
.vpj-scroll-y::-webkit-scrollbar-track:hover,
.vpj-scroll-xy::-webkit-scrollbar-track:hover {
    background: var(--vpj-overlay-scroll-area-track-bg-hover);
}

.vpj-scroll-x::-webkit-scrollbar-track:active,
.vpj-scroll-y::-webkit-scrollbar-track:active,
.vpj-scroll-xy::-webkit-scrollbar-track:active {
    background: var(--vpj-overlay-scroll-area-track-bg-active);
}

/* 自定义滚动条滑块 */
.vpj-scroll-x::-webkit-scrollbar-thumb,
.vpj-scroll-y::-webkit-scrollbar-thumb,
.vpj-scroll-xy::-webkit-scrollbar-thumb {
    background: var(--vpj-overlay-scroll-area-thumb-bg);
    border-radius: 2px;
    opacity: var(--vpj-overlay-scroll-area-opacity-visible);
}

/* 自定义滚动条滑块的:hover与:active伪类 */
.vpj-scroll-x::-webkit-scrollbar-thumb:hover,
.vpj-scroll-y::-webkit-scrollbar-thumb:hover,
.vpj-scroll-xy::-webkit-scrollbar-thumb:hover {
    background: var(--vpj-overlay-scroll-area-thumb-bg-hover);
}

.vpj-scroll-x::-webkit-scrollbar-thumb:active,
.vpj-scroll-y::-webkit-scrollbar-thumb:active,
.vpj-scroll-xy::-webkit-scrollbar-thumb:active {
    background: var(--vpj-overlay-scroll-area-thumb-bg-active);
}