/* 通用样式 */
html {
    box-sizing: border-box;
    margin: var(--vpj-margin-100);
    padding: var(--vpj-padding-100);
    font-size: var(--vpj-font-size-200);
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* 通用类 */
.vpj-icon {
    display: inline-block;
    height: 1rem;
    width: 1rem;
}

/* 无换行短文本（垂直居中） */
.vpj-text {
    vertical-align: middle;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 自定义滚动条组件 */
.vpj-scroll-x {
    overflow-x: auto;
}

.vpj-scroll-y {
    overflow-y: auto;
}

/* 自定义滚动条尺寸 */
.vpj-scroll-x::-webkit-scrollbar {
    height: 6px;
}

.vpj-scroll-y::-webkit-scrollbar {
    width: 6px;
}

/* 自定义滚动条背景 */
.vpj-scroll-x::-webkit-scrollbar-track,
.vpj-scroll-y::-webkit-scrollbar-track {
    background-color: transparent;
}

/* 自定义滚动条滑块 */
.vpj-scroll-x::-webkit-scrollbar-thumb,
.vpj-scroll-y::-webkit-scrollbar-thumb {
    background-color: var(--vpj-color-text-100);
    border-radius: 3px;
}

/* 自定义滚动条滑块的:hover与:active伪类 */
.vpj-scroll-x::-webkit-scrollbar-thumb:hover,
.vpj-scroll-y::-webkit-scrollbar-thumb:hover {
    background-color: var(--vpj-color-text-200);
}

.vpj-scroll-x::-webkit-scrollbar-thumb:active,
.vpj-scroll-y::-webkit-scrollbar-thumb:active {
    background-color: var(--vpj-color-text-300);
}