/* 通用样式 */
html {
    box-sizing: border-box;
    margin: var(--vpj-margin-100);
    padding: var(--vpj-padding-100);
    font-size: var(--vpj-font-size-200);
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

[class^="vpj-"] {
    border-color: var(--vpj-color-border-300);
    border-style: solid;
    border-width: 0px;
    min-height: 0;
    min-width: 0;
}

/* 通用类 */
.vpj-icon {
    display: inline-block;
    flex-shrink: 0;
    height: 16px;
    width: 16px;
}

/* 无换行短文本（垂直居中） */
.vpj-text {
    flex: 1;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
    vertical-align: middle;
    white-space: nowrap;
}

/* 自定义滚动条组件 */
.vpj-scroll-x {
    overflow-x: auto;
}

.vpj-scroll-y {
    overflow-y: auto;
}

.vpj-scroll-xy {
    overflow: auto;
}

.vpj-scroll-y,
.vpj-scroll-xy {
    scrollbar-gutter: stable both-edges;
}

/* 自定义滚动条尺寸 */
.vpj-scroll-x::-webkit-scrollbar,
.vpj-scroll-xy::-webkit-scrollbar {
    height: 4px;
}

.vpj-scroll-y::-webkit-scrollbar,
.vpj-scroll-xy::-webkit-scrollbar {
    width: 4px;
}

/* 自定义滚动条背景 */
.vpj-scroll-x::-webkit-scrollbar-track,
.vpj-scroll-y::-webkit-scrollbar-track,
.vpj-scroll-xy::-webkit-scrollbar-track {
    background-color: transparent;
}

/* 自定义滚动条滑块 */
.vpj-scroll-x::-webkit-scrollbar-thumb,
.vpj-scroll-y::-webkit-scrollbar-thumb,
.vpj-scroll-xy::-webkit-scrollbar-thumb {
    background-color: var(--vpj-color-text-100);
    border-radius: 2px;
}

/* 自定义滚动条滑块的:hover与:active伪类 */
.vpj-scroll-x::-webkit-scrollbar-thumb:hover,
.vpj-scroll-y::-webkit-scrollbar-thumb:hover,
.vpj-scroll-xy::-webkit-scrollbar-thumb:hover {
    background-color: var(--vpj-color-text-200);
}

.vpj-scroll-x::-webkit-scrollbar-thumb:active,
.vpj-scroll-y::-webkit-scrollbar-thumb:active,
.vpj-scroll-xy::-webkit-scrollbar-thumb:active {
    background-color: var(--vpj-color-text-300);
}