.vpj-markdown {
    color: var(--vpj-markdown-color);
    display: flex;
    flex-direction: column;
    font-size: var(--vpj-markdown-font-size);
    line-height: var(--vpj-markdown-line-height);
    overflow: visible;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: break-all; 
}

/* Link */
.vpj-markdown a {
    color: var(--vpj-markdown-link-color);
    text-underline-offset: 2px;
    transition: color var(--vpj-markdown-transition);
}

.vpj-markdown a:hover,
.vpj-markdown a:active,
.vpj-markdown a:focus {
    color: var(--vpj-markdown-link-color-hover);
}

/* Heading */
.vpj-markdown h1,
.vpj-markdown h2,
.vpj-markdown h3,
.vpj-markdown h4,
.vpj-markdown h5,
.vpj-markdown h6 {
    position: relative;
    margin-block: 1em;
    font-weight: var(--vpj-markdown-heading-font-weight);
    line-height: var(--vpj-markdown-heading-line-height);
    cursor: text;
}

.vpj-markdown h1:hover a.anchor,
.vpj-markdown h2:hover a.anchor,
.vpj-markdown h3:hover a.anchor,
.vpj-markdown h4:hover a.anchor,
.vpj-markdown h5:hover a.anchor,
.vpj-markdown h6:hover a.anchor {
    text-decoration: none;
}

.vpj-markdown h1 tt,
.vpj-markdown h1 code,
.vpj-markdown h2 tt,
.vpj-markdown h2 code,
.vpj-markdown h3 tt,
.vpj-markdown h3 code,
.vpj-markdown h4 tt,
.vpj-markdown h4 code,
.vpj-markdown h5 tt,
.vpj-markdown h5 code,
.vpj-markdown h6 tt,
.vpj-markdown h6 code {
    font-size: inherit;
}

.vpj-markdown h1 {
    font-size: var(--vpj-markdown-h1-font-size);
    border-bottom: var(--vpj-markdown-heading-border);
    padding-bottom: var(--vpj-markdown-h1-padding-bottom);
}

.vpj-markdown h2 {
    font-size: var(--vpj-markdown-h2-font-size);
    border-bottom: var(--vpj-markdown-heading-border);
    padding-bottom: var(--vpj-markdown-h2-padding-bottom);
}

.vpj-markdown h3 {
    font-size: var(--vpj-markdown-h3-font-size);
}

.vpj-markdown h4 {font-size: var(--vpj-markdown-h4-font-size);}
.vpj-markdown h5 {font-size: var(--vpj-markdown-h5-font-size);}
.vpj-markdown h6 {
    font-size: var(--vpj-markdown-h6-font-size);
    color: var(--vpj-c-text-3);
}

/* Header Anchor */
.vpj-markdown .header-anchor {
    color: var(--vpj-markdown-header-anchor-color);
    font-weight: inherit;
    left: 0;
    margin-left: calc((-1) * var(--vpj-markdown-header-anchor-offset));
    opacity: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    transition:
        color var(--vpj-markdown-transition),
        opacity var(--vpj-markdown-transition);
    user-select: none;
}

.vpj-markdown .header-anchor:hover,
.vpj-markdown .header-anchor:active,
.vpj-markdown .header-anchor:focus {
    color: var(--vpj-markdown-header-anchor-color-hover);
}

.vpj-markdown .header-anchor:before {
    content: var(--vpj-markdown-header-anchor-symbol);
}

.vpj-markdown h1:hover .header-anchor,
.vpj-markdown h1 .header-anchor:focus,
.vpj-markdown h2:hover .header-anchor,
.vpj-markdown h2 .header-anchor:focus,
.vpj-markdown h3:hover .header-anchor,
.vpj-markdown h3 .header-anchor:focus,
.vpj-markdown h4:hover .header-anchor,
.vpj-markdown h4 .header-anchor:focus,
.vpj-markdown h5:hover .header-anchor,
.vpj-markdown h5 .header-anchor:focus,
.vpj-markdown h6:hover .header-anchor,
.vpj-markdown h6 .header-anchor:focus {
    opacity: 1;
}

/* Common */
.vpj-markdown p,
.vpj-markdown blockquote,
.vpj-markdown ul,
.vpj-markdown ol,
.vpj-markdown dl,
.vpj-markdown table{
    margin-block: var(--vpj-markdown-block-margin);
    margin-inline: 0;
}

.vpj-markdown strong {
    font-weight: var(--vpj-font-weight-bold);
}

/* Horizontal Rule */
.vpj-markdown hr {
    background: var(--vpj-markdown-hr-bg);
    border: 0 none;
    box-sizing: content-box;
    height: var(--vpj-markdown-hr-height);
    padding: 0;
    margin-block: var(--vpj-markdown-hr-margin-block);
    margin-inline: 0;
    overflow: hidden;
}

/* List */
.vpj-markdown ul,
.vpj-markdown ol {
    padding-inline-start: var(--vpj-markdown-list-padding-inline-start);
}

.vpj-markdown > ul:first-child,
.vpj-markdown > ol:first-child {
    margin-block-start: 0;
}

.vpj-markdown ul:last-child,
.vpj-markdown ol:last-child {
    margin-block-end: 0;
}

.vpj-markdown li > ul,
.vpj-markdown li > ol {
    margin-block: 0;
}

/* TOC */
.vpj-markdown nav.table-of-contents {
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
}

.vpj-markdown nav.table-of-contents ul {
    list-style-type: none;
    padding: 0;
}

.vpj-markdown nav.table-of-contents ul > li {
    line-height: var(--vpj-markdown-toc-line-height);
    margin-left: var(--vpj-markdown-toc-nested-indent);
}

.vpj-markdown nav.table-of-contents > ul > li {
    margin-left: 0;
}

.vpj-markdown nav.table-of-contents li > a {
    font-size: var(--vpj-markdown-toc-link-font-size);
    text-decoration: none;
}

.vpj-markdown nav.table-of-contents li > a:hover,
.vpj-markdown nav.table-of-contents li > a:focus {
    text-decoration: underline;
}

.vpj-markdown nav.table-of-contents > ul > li > a {
    font-weight: var(--vpj-font-weight-bold);
}


/* Blockquote */
.vpj-markdown blockquote {
    background: var(--vpj-markdown-blockquote-bg);
    border-left: var(--vpj-markdown-blockquote-border);
    padding: var(--vpj-markdown-blockquote-padding);
    color: var(--vpj-markdown-blockquote-color);
}

.vpj-markdown blockquote blockquote {
    padding-right: 0;
}

/* Table */
.vpj-markdown table {
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    word-break: initial;
}

/* Table Row And Table Header*/
.vpj-markdown table tr {
    background: var(--vpj-markdown-table-tr-bg);
    margin: 0;
    padding: 0;
    transition: background var(--vpj-markdown-transition);
}

.vpj-markdown table tr:nth-child(2n),
.vpj-markdown thead tr {
    background: var(--vpj-markdown-table-tr-even-bg);
}

.vpj-markdown table tr:hover {
    background: var(--vpj-markdown-table-tr-hover-bg);
}

.vpj-markdown table th {
    font-weight: var(--vpj-font-weight-bold);
    border: var(--vpj-markdown-table-cell-border);
    margin: 0;
    overflow-wrap: break-word;
    padding: var(--vpj-markdown-table-cell-padding);
    white-space: normal;
    word-break: break-all;
}

/* Table Cell */
.vpj-markdown table td {
    border: var(--vpj-markdown-table-cell-border);
    margin: 0;
    overflow-wrap: break-word;
    padding: var(--vpj-markdown-table-cell-padding);
    white-space: normal;
    word-break: break-all;
}

/* Image */
.vpj-markdown img {
    height: auto;
    max-width: 100%;
    margin-block: var(--vpj-markdown-image-margin-block);
    margin-inline: auto;
}

.vpj-markdown p > img:only-child {
    display: block;
}

/* Code(Inline) */
.vpj-markdown > code,
.vpj-markdown :not(pre) > code,
.vpj-markdown :not(pre) > tt {
    background: var(--vpj-markdown-code-inline-bg);
    border: var(--vpj-markdown-code-inline-border);
    border-radius: var(--vpj-markdown-code-inline-border-radius);
    font-family: var(--vpj-font-family-mono);
    font-size: var(--vpj-markdown-code-inline-font-size);
    padding: 0;
    padding: var(--vpj-markdown-code-inline-padding);
}

.vpj-markdown h1 > code, .vpj-markdown h1 :not(pre) > code,
.vpj-markdown h2 > code, .vpj-markdown h2 :not(pre) > code,
.vpj-markdown h3 > code, .vpj-markdown h3 :not(pre) > code,
.vpj-markdown h4 > code, .vpj-markdown h4 :not(pre) > code,
.vpj-markdown h5 > code, .vpj-markdown h5 :not(pre) > code,
.vpj-markdown h6 > code, .vpj-markdown h6 :not(pre) > code {
    margin-inline: .15em;
}


/* Code(Block) */
.vpj-markdown div[class*="language-"] {
    background: var(--vpj-markdown-code-block-bg);
    border: var(--vpj-markdown-code-block-border);
    border-radius: var(--vpj-markdown-code-block-border-radius);
    margin-block: var(--vpj-markdown-code-block-margin-block);
    padding-block: var(--vpj-markdown-code-block-padding-block);
    position: relative;
}

/* Code Language */
.vpj-markdown div[class*="language-"] > span.lang {
    color: var(--vpj-c-text-3);
    font-size: .75em;
    position: absolute;
    right: .5em;
    transition:
        color var(--vpj-markdown-transition),
        opacity var(--vpj-markdown-transition);
    top: .125em;
    user-select: none;
    z-index: 2;
}

.vpj-markdown div[class*="language-"]:hover > span.lang,
.vpj-markdown div[class*="language-"] > button.copy:focus + span.lang {
    opacity: 0;
}

/* Code Copy Button */
.vpj-markdown div[class*="language-"] > button.copy {
    align-items: center;
    background-color: var(--vpj-markdown-code-copy-bg-color);
    background-image: var(--vpj-markdown-code-copy-icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: var(--vpj-markdown-code-copy-icon-size);
    border: var(--vpj-markdown-code-copy-border);
    border-radius: var(--vpj-markdown-code-copy-border-radius);
    color: var(--vpj-markdown-code-color);
    cursor: pointer;
    display: flex;
    font-size: inherit;
    height: var(--vpj-markdown-code-copy-size);
    justify-content: center;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: .75em;
    transition:
        color var(--vpj-markdown-transition),
        opacity var(--vpj-markdown-transition);
    top: .75em;
    width: var(--vpj-markdown-code-copy-size);
    z-index: 3;
}

.vpj-markdown div[class*="language-"] > button.copy:hover {
    background-color: var(--vpj-markdown-code-copy-bg-color-hover);
}

.vpj-markdown div[class*="language-"]:hover > button.copy {
    opacity: 1;
}

/* Code Copy Button: Copied */
.vpj-markdown div[class*="language-"] > button.copy.copied {
    background-color: var(--vpj-markdown-code-copy-bg-color-hover);
    background-image: var(--vpj-markdown-code-copy-copied-icon);
    border-radius: 0 var(--vpj-markdown-code-copy-border-radius) var(--vpj-markdown-code-copy-border-radius) 0;
    color: var(--vpj-markdown-code-color);
    opacity: 1;
}

.vpj-markdown div[class*="language-"] > button.copy.copied::before {
    align-items: center;
    background: var(--vpj-markdown-code-copy-bg-color-hover);
    border: var(--vpj-markdown-code-copy-border);
    border-radius: var(--vpj-markdown-code-copy-border-radius) 0 0 var(--vpj-markdown-code-copy-border-radius);
    border-right: 0;
    color: var(--vpj-c-text-3);
    content: var(--vpj-code-copy-copied-text-content);
    display: flex;
    height: var(--vpj-markdown-code-copy-size);
    padding: 0 .625em;
    position: relative;
    text-align: center;
    transform: translate(calc(-50% - (var(--vpj-markdown-code-copy-size) / 2)));
    white-space: nowrap;
    width: fit-content;
    z-index: 4;
}

/* Code Pre */
.vpj-markdown div[class*="language-"] pre {
    background: transparent;
    font-family: var(--vpj-font-family-mono);
    margin: 0;
    overflow-x: auto;
    padding-block: var(--vpj-markdown-code-pre-padding-block);
    padding-inline: 0;
    position: relative;
    z-index: 1;
}

.vpj-markdown div[class*="language-"] code {
    color: var(--vpj-c-text-3);
    display: block;
    font-family: var(--vpj-font-family-mono);
    font-size: var(--vpj-markdown-code-font-size);
    line-height: var(--vpj-markdown-code-line-height);
    min-width: 100%;
    padding: 0;
    transition: color var(--vpj-markdown-transition);
    width: fit-content;
}

.vpj-markdown div[class*="language-"] pre, 
.vpj-markdown div[class*="language-"] code{
    direction: ltr;
    hyphens: none;
    tab-size: 4;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}

.vpj-markdown div[class*="language-"] pre span:not(.line) {
    color: var(--shiki-light);
}

.dark .vpj-markdown div[class*="language-"] pre span:not(.line) {
    color: var(--shiki-dark);
}

.vpj-markdown div[class*="language-"] span.line {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 2em;
    min-width: 100%;
}

/* Code Highlight/Error/Warning */
.vpj-markdown div[class*="language-"] span.line.highlighted {
    background: var(--vpj-markdown-code-highlight-bg);
}

.vpj-markdown div[class*="language-"] span.line.highlighted.error {
    background: var(--vpj-markdown-code-highlight-error-bg);
}

.vpj-markdown div[class*="language-"] span.line.highlighted.warning {
    background: var(--vpj-markdown-code-highlight-warning-bg);
}

/* Code Focus */
.vpj-markdown div[class*="language-"] .has-focused-lines span.line:not(.has-focus) {
    filter: blur(.15em);
    opacity: .7;
    transition:
        filter var(--vpj-markdown-transition),
        opacity var(--vpj-markdown-transition);
}

.vpj-markdown div[class*="language-"]:hover .has-focused-lines span.line:not(.has-focus) {
    filter: blur(0);
    opacity: 1;
}

/* Code Diff(Add/Remove) */
.vpj-markdown div[class*="language-"] code span.line.diff {
    display: inline-block;
    padding: 0 1.5em;
}

.vpj-markdown div[class*="language-"] code span.line.diff.add {
    background-color: var(--vpj-markdown-code-diff-add-bg);
}

.vpj-markdown div[class*="language-"] code span.line.diff.add::before {
    content: var(--vpj-markdown-code-diff-add-symbol);
    color: var(--vpj-c-green-3);
}

.vpj-markdown div[class*="language-"] code span.line.diff.remove {
    background: var(--vpj-markdown-code-diff-remove-bg);
    opacity: 0.7;
}

.vpj-markdown div[class*="language-"] code span.line.diff.remove::before {
    content: var(--vpj-markdown-code-diff-remove-symbol);
    color: var(--vpj-c-red-3);
}

/* Code Line Number */
.vpj-markdown div[class*="language-"].line-numbers-mode  {
    padding-left: var(--vpj-markdown-code-linenumbers-width);
}

.vpj-markdown div[class*="language-"].line-numbers-mode > div.line-numbers-wrapper {
    border-right: var(--vpj-markdown-code-linenumbers-border);
    color: var(--vpj-c-text-2);
    height: 100%;
    left: 0;
    padding-top: calc(var(--vpj-markdown-code-block-padding-block) + var(--vpj-markdown-code-pre-padding-block));
    position: absolute;
    text-align: center;
    top: 0;
    width: var(--vpj-markdown-code-linenumbers-width);
    z-index: 1;
}

.vpj-markdown div[class*="language-"].line-numbers-mode > div.line-numbers-wrapper br {
    display: none;
}

.vpj-markdown div[class*="language-"].line-numbers-mode > div.line-numbers-wrapper .line-number {
    display: block;
    font-size: var(--vpj-markdown-code-font-size);
    line-height: var(--vpj-markdown-code-line-height);
}

/* Code Group */
.vpj-markdown .vp-code-group {
    background: transparent;
    display: flex;
    flex-direction: column;
}

.vpj-markdown .vp-code-group .tabs {
    background: var(--vpj-markdown-code-group-tabs-bg);
    border: var(--vpj-markdown-code-block-border);
    border-bottom: var(--vpj-markdown-code-group-tabs-border);
    border-radius: var(--vpj-markdown-code-block-border-radius) var(--vpj-markdown-code-block-border-radius) 0 0;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding-block: 0;
    padding-inline: var(--vpj-markdown-code-group-tabs-padding-inline);
}

.vpj-markdown .vp-code-group .tabs input {
    opacity: 0;
    position: fixed;
    pointer-events: none;
}

.vpj-markdown .vp-code-group .tabs label {
    border-bottom: var(--vpj-border-width-2) solid transparent;
    color: var(--vpj-markdown-code-group-tab-color);
    cursor: pointer;
    display: inline-block;
    font-size: var(--vpj-markdown-code-group-tab-font-size);
    font-weight: var(--vpj-markdown-code-group-tab-font-weight);
    line-height: var(--vpj-markdown-code-group-tabs-height);
    padding-block: 0;
    padding-inline: var(--vpj-markdown-code-group-tab-padding-inline);
    position: relative;
    transition:
        border var(--vpj-markdown-transition),
        color var(--vpj-markdown-transition);
    white-space: nowrap;
}

.vpj-markdown .vp-code-group label:hover,
.vpj-markdown .vp-code-group label:active,
.vpj-markdown .vp-code-group label:focus {
    color: var(--vpj-markdown-code-group-tab-color-hover);
}

.vpj-markdown .vp-code-group input:checked + label {
    color: var(--vpj-markdown-code-group-tab-active-color);
    border-bottom: var(--vpj-border-width-2) solid var(--vpj-markdown-code-group-tab-active-border-color);
}

.vpj-markdown .vp-code-group input:checked + label:hover,
.vpj-markdown .vp-code-group input:checked + label:active,
.vpj-markdown .vp-code-group input:checked + label:focus {
    color: var(--vpj-markdown-code-group-tab-active-color-hover);
}

.vpj-markdown .vp-code-group div[class*="language-"] {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: none;
    margin-top: 0;
}

.vpj-markdown .vp-code-group div[class*="language-"].active {
    display: block;
}

/* Mathjax */
.vpj-markdown .MathJax[display="true"] {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-block: var(--vpj-markdown-math-padding-block);
}

/* Custom Container */
.vpj-markdown .custom-block {
    border-radius: var(--vpj-markdown-custom-block-radius);
    font-size: var(--vpj-markdown-custom-block-font-size);
    margin: 1em 0;
    padding: 1em 1em .5em;
}

.vpj-markdown .custom-block.info {
    background: var(--vpj-markdown-custom-block-info-bg);
    border: var(--vpj-markdown-custom-block-info-border);
    color: var(--vpj-markdown-custom-block-info-text);
}
.vpj-markdown .custom-block.note {
    background: var(--vpj-markdown-custom-block-note-bg);
    border: var(--vpj-markdown-custom-block-note-border);
    color: var(--vpj-markdown-custom-block-note-text);
}
.vpj-markdown .custom-block.details {
    background: var(--vpj-markdown-custom-block-details-bg);
    border: var(--vpj-markdown-custom-block-details-border);
    color: var(--vpj-markdown-custom-block-details-text);
}
.vpj-markdown .custom-block.tip {
    background: var(--vpj-markdown-custom-block-tip-bg);
    border: var(--vpj-markdown-custom-block-tip-border);
    color: var(--vpj-markdown-custom-block-tip-text);
}
.vpj-markdown .custom-block.important {
    background: var(--vpj-markdown-custom-block-important-bg);
    border: var(--vpj-markdown-custom-block-important-border);
    color: var(--vpj-markdown-custom-block-important-text);
}
.vpj-markdown .custom-block.warning {
    background: var(--vpj-markdown-custom-block-warning-bg);
    border: var(--vpj-markdown-custom-block-warning-border);
    color: var(--vpj-markdown-custom-block-warning-text);
}
.vpj-markdown .custom-block.danger {
    background: var(--vpj-markdown-custom-block-danger-bg);
    border: var(--vpj-markdown-custom-block-danger-border);
    color: var(--vpj-markdown-custom-block-danger-text);
}
.vpj-markdown .custom-block.caution {
    background: var(--vpj-markdown-custom-block-caution-bg);
    border: var(--vpj-markdown-custom-block-caution-border);
    color: var(--vpj-markdown-custom-block-caution-text);
}


.vpj-markdown .custom-block :not(pre) > code {
    border: none;
}

.vpj-markdown .custom-block.info :not(pre) > code {
    background: var(--vpj-markdown-custom-block-info-code-bg);
    color: var(--vpj-c-text-1);
}
.vpj-markdown .custom-block.details :not(pre) > code {
    background: var(--vpj-markdown-custom-block-details-code-bg);
    color: var(--vpj-c-text-1);
}
.vpj-markdown .custom-block.note :not(pre) > code {
    background: var(--vpj-markdown-custom-block-note-code-bg);
    color: var(--vpj-c-text-1);
}
.vpj-markdown .custom-block.tip :not(pre) > code {
    background: var(--vpj-markdown-custom-block-tip-code-bg);
    color: var(--vpj-c-tip-1);
}
.vpj-markdown .custom-block.warning :not(pre) > code {
    background: var(--vpj-markdown-custom-block-warning-code-bg);
    color: var(--vpj-c-warning-1);
}
.vpj-markdown .custom-block.danger :not(pre) > code {
    background: var(--vpj-markdown-custom-block-danger-code-bg);
    color: var(--vpj-c-danger-1);
}
.vpj-markdown .custom-block.important :not(pre) > code {
    background: var(--vpj-markdown-custom-block-important-code-bg);
    color: var(--vpj-c-important-1);
}
.vpj-markdown .custom-block.caution :not(pre) > code {
    background: var(--vpj-markdown-custom-block-caution-code-bg);
    color: var(--vpj-c-caution-1);
}

.vpj-markdown .custom-block.tip a { color: var(--vpj-c-tip-1); }
.vpj-markdown .custom-block.tip a:hover,
.vpj-markdown .custom-block.tip a:active,
.vpj-markdown .custom-block.tip a:focus {
    color: var(--vpj-c-tip-2);
}

.vpj-markdown .custom-block.important a { color: var(--vpj-c-important-1); }
.vpj-markdown .custom-block.important a:hover,
.vpj-markdown .custom-block.important a:active,
.vpj-markdown .custom-block.important a:focus {
    color: var(--vpj-c-important-2);
}

.vpj-markdown .custom-block.warning a { color: var(--vpj-c-warning-1); }
.vpj-markdown .custom-block.warning a:hover,
.vpj-markdown .custom-block.warning a:active,
.vpj-markdown .custom-block.warning a:focus {
    color: var(--vpj-c-warning-2);
}

.vpj-markdown .custom-block.caution a { color: var(--vpj-c-caution-1); }
.vpj-markdown .custom-block.caution a:hover,
.vpj-markdown .custom-block.caution a:active,
.vpj-markdown .custom-block.caution a:focus {
    color: var(--vpj-c-caution-2);
}

.vpj-markdown .custom-block.danger a { color: var(--vpj-c-danger-1); }
.vpj-markdown .custom-block.danger a:hover,
.vpj-markdown .custom-block.danger a:active,
.vpj-markdown .custom-block.danger a:focus {
    color: var(--vpj-c-danger-2);
}


.vpj-markdown .custom-block > p.custom-block-title:first-child {
    font-weight: var(--vpj-font-weight-semibold);
    line-height: var(--vpj-markdown-line-height);
    margin: 0;
}
.vpj-markdown .custom-block.info > p.custom-block-title:first-child { color: var(--vpj-markdown-custom-block-info-title); }
.vpj-markdown .custom-block.tip > p.custom-block-title:first-child { color: var(--vpj-markdown-custom-block-tip-title); }
.vpj-markdown .custom-block.warning > p.custom-block-title:first-child { color: var(--vpj-markdown-custom-block-warning-title); }
.vpj-markdown .custom-block.danger > p.custom-block-title:first-child { color: var(--vpj-markdown-custom-block-danger-title); }
.vpj-markdown .custom-block.note > p.custom-block-title:first-child { color: var(--vpj-markdown-custom-block-note-title); }
.vpj-markdown .custom-block.important > p.custom-block-title:first-child { color: var(--vpj-markdown-custom-block-important-title); }
.vpj-markdown .custom-block.caution > p.custom-block-title:first-child { color: var(--vpj-markdown-custom-block-caution-title); }


.vpj-markdown .custom-block.details > summary:first-child {
    color: var(--vpj-markdown-custom-block-details-title);
    cursor: pointer;
    font-weight: var(--vpj-font-weight-semibold);
    line-height: 1.5;
    margin: 0 0 .5em;
    transition: color var(--vpj-markdown-transition);
    user-select: none;
}

.vpj-markdown .custom-block.details > summary:first-child:hover,
.vpj-markdown .custom-block.details > summary:first-child:active {
    color: var(--vpj-markdown-custom-block-details-title-hover);
}

.vpj-markdown .custom-block p + p {
    margin: .5em 0;
}