.vpj-markdown {
    color: var(--vpj-color-text-500);
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.vpj-markdown * {
    max-width: 100%;
}

/* Link */
.vpj-markdown a {
    color: var(--vpj-color-primary-400);
}

.vpj-markdown a:hover,
.vpj-markdown a:focus {
    color: var(--vpj-color-primary-300);
}

/* Heading */
.vpj-markdown h1,
.vpj-markdown h2,
.vpj-markdown h3,
.vpj-markdown h4,
.vpj-markdown h5,
.vpj-markdown h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}

.vpj-markdown h1:hover a.anchor,
.vpj-markdown h2:hover a.anchor,
.vpj-markdown h3:hover a.anchor,
.vpj-markdown h4:hover a.anchor,
.vpj-markdown h5:hover a.anchor,
.vpj-markdown h6:hover a.anchor {
    text-decoration: none;
}

.vpj-markdown h1 tt,
.vpj-markdown h1 code,
.vpj-markdown h2 tt,
.vpj-markdown h2 code,
.vpj-markdown h3 tt,
.vpj-markdown h3 code,
.vpj-markdown h4 tt,
.vpj-markdown h4 code,
.vpj-markdown h5 tt,
.vpj-markdown h5 code,
.vpj-markdown h6 tt,
.vpj-markdown h6 code {
    font-size: inherit;
}

.vpj-markdown h1 {
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid var(--vpj-color-border-300);
}

.vpj-markdown h2 {
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid var(--vpj-color-border-300);
}

.vpj-markdown h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

.vpj-markdown h4 {font-size: 1.25em;}
.vpj-markdown h5 {font-size: 1em;}
.vpj-markdown h6 {
    font-size: 1em;
    color: var(--vpj-color-text-200);
}

/* Common */
.vpj-markdown p,
.vpj-markdown blockquote,
.vpj-markdown ul,
.vpj-markdown ol,
.vpj-markdown dl,
.vpj-markdown table{
    margin: 0.8em 0;
}

/* Horizontal Rule */
.vpj-markdown hr {
    height: var(--vpj-border-width-300);
    padding: 0;
    margin: 1rem 0;
    background-color: var(--vpj-color-border-300);
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

/* List */
.vpj-markdown > ul:first-child,
.vpj-markdown > ol:first-child{
    margin-top: 1.875rem;
}

.vpj-markdown li > ol,
.vpj-markdown li > ul {
    margin: 0 0;
}

.vpj-markdown ul,
.vpj-markdown ol {
    padding-left: 1.875rem;
}

.vpj-markdown ul:first-child,
.vpj-markdown ol:first-child {
    margin-top: 0;
}

.vpj-markdown ul:last-child,
.vpj-markdown ol:last-child {
    margin-bottom: 0;
}

/* Blockquote */
.vpj-markdown blockquote {
    border-left: var(--vpj-border-width-400) solid var(--vpj-color-border-400);
    padding: 0 15px;
    color: var(--vpj-color-text-200);
}

.vpj-markdown blockquote blockquote {
    padding-right: 0;
}

/* Table */
.vpj-markdown table {
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    word-break: initial;
}

/* Table Row And Table Header*/
.vpj-markdown table tr {
    background-color: var(--vpj-color-bg-100);
    margin: 0;
    padding: 0;
}

.vpj-markdown table tr:nth-child(2n),
.vpj-markdown thead tr {
    background-color: var(--vpj-color-bg-300);
}

.vpj-markdown table tr:hover {
    background-color: var(--vpj-color-bg-200);
}

.vpj-markdown table th {
    font-weight: bold;
    border: var(--vpj-border-width-200) solid var(--vpj-color-border-300);
    margin: 0;
    overflow-wrap: break-word;
    padding: .375rem .75rem;
    white-space: normal;
    word-break: break-all;
}

/* Table Cell */
.vpj-markdown table td {
    border: var(--vpj-border-width-200) solid var(--vpj-color-border-300);
    margin: 0;
    overflow-wrap: break-word;
    padding: .375rem .75rem;
    white-space: normal;
    word-break: break-all;
}

/* Custom Container */
.vpj-markdown .custom-block {
    border-radius: var(--vpj-border-radius-200);
    font-size: .875rem;
    margin: 1rem 0;
    padding: 1rem 1rem .5rem;
}

.vpj-markdown .custom-block.info { background-color: var(--vpj-color-bg-400); }
.vpj-markdown .custom-block.tip { background-color: var(--vpj-color-tip-100); }
.vpj-markdown .custom-block.warning { background-color: var(--vpj-color-warning-100); }
.vpj-markdown .custom-block.danger { background-color: var(--vpj-color-danger-100); }
.vpj-markdown .custom-block.details { background-color: var(--vpj-color-bg-400); }

.vpj-markdown .custom-block > p.custom-block-title:first-child {
    font-weight: var(--vpj-font-weight-600);
    line-height: 1.5;
    margin: 0;
}

.vpj-markdown .custom-block > summary:first-child {
    cursor: pointer;
    font-weight: var(--vpj-font-weight-600);
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.vpj-markdown .custom-block > summary:first-child:hover { color: var(--vpj-color-text-300); }
.vpj-markdown .custom-block > summary:first-child:focus { color: var(--vpj-color-text-400); }

.vpj-markdown .code-tooltip {
    box-shadow: 0 1px 1px 0 rgba(0,28,36,.3);
    border-top: 1px solid #eef2f2;
}

.vpj-markdown code,
.vpj-markdown tt {
    border: 1px solid #e7eaed;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
}

.vpj-markdown code {
    background-color: #f3f4f4;
    padding: 0 2px 0 2px;
}

.vpj-markdown .md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
}


.vpj-markdown .md-task-list-item > input {
  margin-left: -1.3em;
}

.vpj-markdown .md-fences {
	background-color: #f8f8f8;
}

.mathjax-block>.code-tooltip {
	bottom: .375rem;
}

.md-mathjax-midline {
    background: #fafafa;
}

.md-image>.md-meta {
    /*border: 1px solid #ddd;*/
    border-radius: 3px;
    padding: 2px 0px 0px 4px;
    font-size: 0.9em;
    color: inherit;
}

