:root {
    --vpj-font-size-100: 12px;
    --vpj-font-size-200: 16px;

    --vpj-font-weight-100: 100;
    --vpj-font-weight-200: 200;
    --vpj-font-weight-300: 300;
    --vpj-font-weight-400: 400;
    --vpj-font-weight-500: 500;
    --vpj-font-weight-600: 600;
    --vpj-font-weight-700: 700;
    --vpj-font-weight-800: 800;
    --vpj-font-weight-900: 900;
    --vpj-font-weight-1000: 1000;

    --vpj-margin-100: 0px;

    --vpj-padding-100: 0px;

    --vpj-border-width-100: .5px;
    --vpj-border-width-200: 1px;

    --vpj-border-radius-100: 4px;
    --vpj-border-radius-200: 8px;

    /* Default Colors */
    --vpj-color-primary-100: rgb(232, 241, 255);
    --vpj-color-primary-200: rgb(179, 207, 255);
    --vpj-color-primary-300: rgb(128, 171, 255);
    --vpj-color-primary-400: rgb(56, 132, 255);
    --vpj-color-primary-500: rgb(43, 108, 212);
    --vpj-color-primary-600: rgb(31, 84, 166);

    --vpj-color-success-100: rgb(236, 255, 244);
    --vpj-color-success-200: rgb(183, 255, 215);
    --vpj-color-success-300: rgb(84, 219, 155);
    --vpj-color-success-400: rgb(0, 174, 91);

    --vpj-color-info-100: rgb(232, 241, 255);
    --vpj-color-info-200: rgb(179, 207, 255);
    --vpj-color-info-300: rgb(89, 126, 247);
    --vpj-color-info-400: rgb(56, 132, 255);

    --vpj-color-warning-100: rgb(255, 247, 232);
    --vpj-color-warning-200: rgb(255, 236, 179);
    --vpj-color-warning-300: rgb(247, 197, 89);
    --vpj-color-warning-400: rgb(240, 180, 0);

    --vpj-color-danger-100: rgb(255, 235, 235);
    --vpj-color-danger-200: rgb(255, 179, 179);
    --vpj-color-danger-300: rgb(247, 89, 89);
    --vpj-color-danger-400: rgb(233, 60, 60);

    --vpj-color-bg-100: rgb(255, 255, 255);
    --vpj-color-bg-200: rgb(250, 251, 252);
    --vpj-color-bg-300: rgb(245, 247, 249);
    --vpj-color-bg-400: rgb(240, 242, 245);
    --vpj-color-bg-500: rgb(235, 238, 241);
    --vpj-color-bg-600: rgb(230, 233, 237);
    --vpj-color-bg-700: rgb(225, 228, 232);
    --vpj-color-bg-800: rgb(220, 223, 228);

    --vpj-color-text-100: rgb(201, 205, 212);
    --vpj-color-text-200: rgb(134, 144, 156);
    --vpj-color-text-300: rgb(78, 89, 105);
    --vpj-color-text-400: rgb(26, 31, 54);
    --vpj-color-text-500: rgb(13, 18, 43);

    --vpj-color-border-100: rgb(245, 247, 249);
    --vpj-color-border-200: rgb(240, 242, 245);
    --vpj-color-border-300: rgb(229, 232, 239);
    --vpj-color-border-400: rgb(217, 221, 229);
    --vpj-color-border-500: rgb(201, 205, 212);

    --vpj-shadow-100: 0 1px 2px rgba(0, 0, 0, 0.05);
    --vpj-shadow-200: 0 2px 4px rgba(0, 0, 0, 0.05);
    --vpj-shadow-300: 0 4px 8px rgba(0, 0, 0, 0.05);
    --vpj-shadow-400: 0 8px 16px rgba(0, 0, 0, 0.05);
    --vpj-shadow-500: 0 16px 24px rgba(0, 0, 0, 0.05);

    --vpj-overlay-100: rgba(0, 0, 0, 1);
    --vpj-overlay-200: rgba(0, 0, 0, 0.8);
    --vpj-overlay-300: rgba(0, 0, 0, 0.6);
    --vpj-overlay-400: rgba(0, 0, 0, 0.4);
    --vpj-overlay-500: rgba(0, 0, 0, 0.2);
    --vpj-overlay-600: rgba(0, 0, 0, 0);
}