/* ---------------------------------------------------------

*/
:root {
    --vpj-c-white: #ffffff;
    --vpj-c-black: #000000;

    --vpj-c-neutral: var(--vpj-c-black);
    --vpj-c-neutral-inverse: var(--vpj-c-white);
}

.dark {
    --vpj-c-neutral: var(--vpj-c-white);
    --vpj-c-neutral-inverse: var(--vpj-c-black);
}

/* ---------------------------------------------------------

*/
:root {
    --vpj-c-gray-1: #dddde3;
    --vpj-c-gray-2: #e4e4e9;
    --vpj-c-gray-3: #ebebef;
    --vpj-c-gray-soft: rgba(142, 150, 170, .14);

    --vpj-c-indigo-1: #3451b2;
    --vpj-c-indigo-2: #3a5ccc;
    --vpj-c-indigo-3: #5672cd;
    --vpj-c-indigo-soft: rgba(100, 108, 255, .14);

    --vpj-c-purple-1: #6f42c1;
    --vpj-c-purple-2: #7e4cc9;
    --vpj-c-purple-3: #8e5cd9;
    --vpj-c-purple-soft: rgba(159, 122, 234, .14);

    --vpj-c-green-1: #18794e;
    --vpj-c-green-2: #299764;
    --vpj-c-green-3: #30a46c;
    --vpj-c-green-soft: rgba(16, 185, 129, .14);

    --vpj-c-yellow-1: #915930;
    --vpj-c-yellow-2: #946300;
    --vpj-c-yellow-3: #9f6a00;
    --vpj-c-yellow-soft: rgba(234, 179, 8, .14);

    --vpj-c-red-1: #b8272c;
    --vpj-c-red-2: #d5393e;
    --vpj-c-red-3: #e0575b;
    --vpj-c-red-soft: rgba(244, 63, 94, .14);
}

.dark {
    --vpj-c-gray-1: #515c67;
    --vpj-c-gray-2: #414853;
    --vpj-c-gray-3: #32363f;
    --vpj-c-gray-soft: rgba(101, 117, 133, .16);

    --vpj-c-indigo-1: #a8b1ff;
    --vpj-c-indigo-2: #5c73e7;
    --vpj-c-indigo-3: #3e63dd;
    --vpj-c-indigo-soft: rgba(100, 108, 255, .16);

    --vpj-c-purple-1: #c8abfa;
    --vpj-c-purple-2: #a879e6;
    --vpj-c-purple-3: #8e5cd9;
    --vpj-c-purple-soft: rgba(159, 122, 234, .16);

    --vpj-c-green-1: #3dd68c;
    --vpj-c-green-2: #30a46c;
    --vpj-c-green-3: #298459;
    --vpj-c-green-soft: rgba(16, 185, 129, .16);

    --vpj-c-yellow-1: #f9b44e;
    --vpj-c-yellow-2: #da8b17;
    --vpj-c-yellow-3: #a46a0a;
    --vpj-c-yellow-soft: rgba(234, 179, 8, .16);

    --vpj-c-red-1: #f66f81;
    --vpj-c-red-2: #f14158;
    --vpj-c-red-3: #b62a3c;
    --vpj-c-red-soft: rgba(244, 63, 94, .16);
}

/* ---------------------------------------------------------

*/
:root {
    --vpj-c-bg: #ffffff;
    --vpj-c-bg-alt: #f6f6f7;
    --vpj-c-bg-elv: #ffffff;
    --vpj-c-bg-soft: #f6f6f7;
}

.dark {
    --vpj-c-bg: #1b1b1f;
    --vpj-c-bg-alt: #161618;
    --vpj-c-bg-elv: #202127;
    --vpj-c-bg-soft: #202127;
}

/* ---------------------------------------------------------

*/
:root {
    --vpj-c-border: #c2c2c4;
    --vpj-c-divider: rgb(226, 226, 227);
    --vpj-c-gutter: #e2e2e3;
}

.dark {
    --vpj-c-border: #3c3f44;
    --vpj-c-divider: rgb(92, 92, 100);
    --vpj-c-gutter: #000000;
}

/* ---------------------------------------------------------

*/
:root {
    --vpj-border-radius-1: 4px;
    --vpj-border-radius-2: 8px;
}

/* ---------------------------------------------------------

*/
:root {
    --vpj-c-text-1: #3c3c43;
    --vpj-c-text-2: #67676c;
    --vpj-c-text-3: #929295;
}

.dark {
    --vpj-c-text-1: #dfdfd6;
    --vpj-c-text-2: #98989f;
    --vpj-c-text-3: #6a6a71;
}

/* ---------------------------------------------------------

*/
:root {
    --vpj-overlay: rgba(0, 0, 0, .3);
}

.dark {
    --vpj-overlay: rgba(0, 0, 0, .6);
}

/* ---------------------------------------------------------

*/
:root {
    --vpj-z-index-1: 0;
    --vpj-z-index-2: 100;
    --vpj-z-index-3: 200;
    --vpj-z-index-4: 300;
    --vpj-z-index-5: 400;
}

/* ---------------------------------------------------------

*/
:root {
    --vpj-font-size: 16px;
}

/* ---------------------------------------------------------

*/
:root {
    --vpj-font-weight-thin: 100;
    --vpj-font-weight-light: 300;
    --vpj-font-weight-normal: 400;
    --vpj-font-weight-semibold: 600;
    --vpj-font-weight-bold: 700;
}

/* ---------------------------------------------------------

*/
:root {
    --vpj-shadow-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
    --vpj-shadow-2: 0 3px 12px rgba(0, 0, 0, .07), 0 1px 4px rgba(0, 0, 0, .07);
    --vpj-shadow-3: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
    --vpj-shadow-4: 0 14px 44px rgba(0, 0, 0, .12), 0 3px 9px rgba(0, 0, 0, .12);
    --vpj-shadow-5: 0 18px 56px rgba(0, 0, 0, .16), 0 4px 12px rgba(0, 0, 0, .16);
}

/* ---------------------------------------------------------

*/
:root {
    --vpj-border-width-1: 1px;
    --vpj-border-width-2: 2px;
    --vpj-border-width-3: 4px;

    --vpj-border: var(--vpj-border-width-1) solid var(--vpj-c-border);
}

/* ---------------------------------------------------------

*/
:root {
    --vpj-transition-duration: .25s;
    --vpj-transition-timing: ease-in-out;

    --vpj-transition: var(--vpj-transition-duration) var(--vpj-transition-timing);

    --vpj-transition-tooltip: var(--vpj-transition);
}

/* ---------------------------------------------------------
    Component: Sidebar
*/
:root {
    --vpj-sidebar-bg: var(--vpj-c-gray-3);
    --vpj-sidebar-border: var(--vpj-border);
    --vpj-sidebar-overlay: var(--vpj-overlay);
    --vpj-sidebar-overlay-z-index: var(--vpj-z-index-2);
    --vpj-sidebar-padding-x: .75rem;
    --vpj-sidebar-padding-y: .75rem .5rem;
    --vpj-sidebar-transition: var(--vpj-transition);
    --vpj-sidebar-width: min(16.5rem, 35vw);
    --vpj-sidebar-width-collapsed: 3.5rem;
    --vpj-sidebar-width-mobile: min(20rem, 50vw);
    --vpj-sidebar-z-index: var(--vpj-z-index-3);

    --vpj-sidebar-btn-border: 0;
    --vpj-sidebar-btn-bg: var(--vpj-c-gray-3);
    --vpj-sidebar-btn-bg-hover: var(--vpj-c-bg-soft);
    --vpj-sidebar-btn-gap: .5rem;
    --vpj-sidebar-btn-height: 2rem;
    --vpj-sidebar-btn-icon-color: var(--vpj-c-text-2);
    --vpj-sidebar-btn-icon-color-hover: var(--vpj-c-text-1);
    --vpj-sidebar-btn-icon-size: 1rem;
    --vpj-sidebar-btn-radius: var(--vpj-border-radius-1);
    --vpj-sidebar-btn-text-color: var(--vpj-c-text-1);
    --vpj-sidebar-btn-text-color-hover: var(--vpj-c-text-1);
    --vpj-sidebar-btn-text-weight: var(--vpj-font-weight-normal);
    --vpj-sidebar-btn-text-size: .875rem;

    --vpj-sidebar-btn-tooltip-bg: var(--vpj-c-text-1);
    --vpj-sidebar-btn-tooltip-font-size: .875rem;
    --vpj-sidebar-btn-tooltip-max-width: 200px;
    --vpj-sidebar-btn-tooltip-padding: .375rem .5rem;
    --vpj-sidebar-btn-tooltip-radius: var(--vpj-border-radius-1);
    --vpj-sidebar-btn-tooltip-color: var(--vpj-c-bg);
    --vpj-sidebar-btn-tooltip-z-index: var(--vpj-z-index-5);

    --vpj-sidebar-profile-overlay: transparent;
    --vpj-sidebar-profile-overlay-z-index: var(--vpj-z-index-4);

    --vpj-sidebar-profile-bg: var(--vpj-c-bg);
    --vpj-sidebar-profile-border: var(--vpj-border);
    --vpj-sidebar-profile-border-radius: var(--vpj-border-radius-2);
    --vpj-sidebar-profile-shadow: var(--vpj-shadow-3);
    --vpj-sidebar-profile-width: min(15.25rem, 42.5vw);
    --vpj-sidebar-profile-z-index: var(--vpj-z-index-5);

    --vpj-sidebar-profile-color: var(--vpj-c-text-1);
    --vpj-sidebar-profile-desc-font-size: .875rem;
    --vpj-sidebar-profile-desc-padding: .75rem 1rem .25rem;
    --vpj-sidebar-profile-font-weight: var(--vpj-font-weight-semibold);
    --vpj-sidebar-profile-title-font-size: 1rem;
    --vpj-sidebar-profile-title-gap: 1rem;
    --vpj-sidebar-profile-title-icon-size: 1.6rem;
    --vpj-sidebar-profile-title-padding: .4rem 1rem .75rem;

    --vpj-sidebar-item-highlight-normal: var(--vpj-c-indigo-3);
    --vpj-sidebar-item-highlight-hover: var(--vpj-c-indigo-2);
    --vpj-sidebar-item-highlight-active: var(--vpj-c-indigo-1);

    --vpj-sidebar-header-gap: .25rem;
    --vpj-sidebar-header-gap-collapsed: .625rem;
    --vpj-sidebar-header-profile-btn-gap: .4rem;
    --vpj-sidebar-header-profile-btn-icon-size: 1.4rem;
    --vpj-sidebar-header-profile-btn-icon-radius: var(--vpj-border-radius-1);
    --vpj-sidebar-header-profile-btn-text-weight: var(--vpj-font-weight-semibold);

    --vpj-sidebar-header-nav-gap: .75rem;

    --vpj-sidebar-nav-list-gap: .2rem;
    --vpj-sidebar-nav-list-gap-collapsed: .625rem;
    --vpj-sidebar-nav-list-indent-unit: .625rem;
    --vpj-sidebar-nav-list-item-toggle-btn-bg: var(--vpj-c-bg-soft);
    --vpj-sidebar-nav-list-item-toggle-btn-size: 1.2rem;
    --vpj-sidebar-nav-list-item-toggle-icon-size: .8rem; 
    --vpj-sidebar-nav-list-padding-y: .5rem;
    --vpj-sidebar-nav-mask: linear-gradient(to bottom,
        transparent 0,
        black var(--vpj-sidebar-nav-list-padding-y),
        black calc(100% - var(--vpj-sidebar-nav-list-padding-y)),
        transparent 100%
    );

    --vpj-sidebar-nav-footer-gap: 1rem;

    --vpj-sidebar-footer-links-gap: .2rem;
    --vpj-sidebar-footer-links-gap-collapsed: .375rem;
    --vpj-sidebar-footer-social-links-gap: .1rem;
    --vpj-sidebar-footer-social-links-margin-top: .375rem;
    --vpj-sidebar-footer-social-links-mask: linear-gradient(to right,
        transparent 0,
        black var(--vpj-sidebar-footer-social-links-padding-x),
        black calc(100% - var(--vpj-sidebar-footer-social-links-padding-x)),
        transparent 100%
    );
    --vpj-sidebar-footer-social-links-padding-x: .5rem;
}

/* ---------------------------------------------------------
   Component: Mobile Navbar
*/
:root {
    --vpj-mobile-nav-bg: var(--vpj-c-gray-3);
    --vpj-mobile-nav-border: var(--vpj-border);
    --vpj-mobile-nav-height: 2.75rem;
    --vpj-mobile-nav-padding-x: .625rem;
    
    --vpj-mobile-nav-btn-bg: transparent;
    --vpj-mobile-nav-btn-bg-hover: var(--vpj-c-bg-soft);
    --vpj-mobile-nav-btn-border: 0;
    --vpj-mobile-nav-btn-size: 1.6rem;
    --vpj-mobile-nav-btn-icon-color: var(--vpj-c-text-2);
    --vpj-mobile-nav-btn-icon-color-hover: var(--vpj-c-text-1);
    --vpj-mobile-nav-btn-icon-size: 1rem;
    --vpj-mobile-nav-btn-radius: var(--vpj-border-radius-1);
    
    --vpj-mobile-nav-title-color: var(--vpj-c-text-1);
    --vpj-mobile-nav-title-size: .9rem;
    --vpj-mobile-nav-title-weight: var(--vpj-font-weight-semibold);
    --vpj-mobile-nav-title-gap: .5rem;
}

/* ---------------------------------------------------------
   Component: Panel
*/
:root {
    --vpj-panel-bg: var(--vpj-c-bg);
    --vpj-panel-border: var(--vpj-border);
    --vpj-panel-width: min(21rem, 35vw);
    --vpj-panel-width-mobile: min(26rem, 50vw);
    --vpj-panel-transition: var(--vpj-transition);
    --vpj-panel-z-index: var(--vpj-z-index-3);
    
    --vpj-panel-header-height: 2.75rem;
    --vpj-panel-header-padding-x: .875rem .5rem;
    
    --vpj-panel-title-color: var(--vpj-c-text-1);
    --vpj-panel-title-size: 1rem;
    --vpj-panel-title-weight: var(--vpj-font-weight-semibold);
    
    --vpj-panel-close-btn-bg: var(--vpj-c-bg);
    --vpj-panel-close-btn-bg-hover: var(--vpj-c-bg-soft);
    --vpj-panel-close-btn-border: 0;
    --vpj-panel-close-btn-size: 1.6rem;
    --vpj-panel-close-btn-radius: var(--vpj-border-radius-1);
    --vpj-panel-close-btn-icon-color: var(--vpj-c-text-2);
    --vpj-panel-close-btn-icon-color-hover: var(--vpj-c-text-1);
    --vpj-panel-close-btn-icon-size: 1rem;
    
    --vpj-panel-overlay-bg: var(--vpj-overlay);
    --vpj-panel-overlay-z-index: var(--vpj-z-index-2);

    --vpj-panel-fallback-bg: transparent;
    --vpj-panel-fallback-color: var(--vpj-c-text-3);
    --vpj-panel-fallback-font-size: 1.25rem;
    --vpj-panel-fallback-font-weight: var(--vpj-font-weight-normal);
    --vpj-panel-fallback-line-height: 1.5;
    --vpj-panel-fallback-padding-x: 1.2rem;
}

/* ---------------------------------------------------------
   Component: Panel History Page
*/
:root {
    --vpj-panel-history-bg: var(--vpj-c-bg);
    --vpj-panel-history-padding: .5rem;
    --vpj-panel-history-gap: .5rem;

    --vpj-panel-history-time-label-color: var(--vpj-c-text-1);
    --vpj-panel-history-time-label-size: 1rem;
    --vpj-panel-history-time-label-weight: var(--vpj-font-weight-semibold);
    --vpj-panel-history-time-label-margin: .25rem 0;

    --vpj-panel-history-item-bg: transparent;
    --vpj-panel-history-item-bg-hover: var(--vpj-c-bg-soft);
    --vpj-panel-history-item-radius: var(--vpj-border-radius-2);
    --vpj-panel-history-item-padding: .5rem;
    --vpj-panel-history-item-gap: .25rem;
    
    --vpj-panel-history-item-title-color: var(--vpj-c-text-1);
    --vpj-panel-history-item-title-size: .875rem;
    
    --vpj-panel-history-item-desc-color: var(--vpj-c-text-2);
    --vpj-panel-history-item-desc-size: .75rem;
}

/* ---------------------------------------------------------
   Component: Layout Page
*/
:root {
    --vpj-layout-page-bg: var(--vpj-c-bg);
}

/* ---------------------------------------------------------
   Component: Layout NotFound
*/
:root {
    --vpj-layout-notfound-bg: var(--vpj-c-bg);
    --vpj-layout-notfound-transition: var(--vpj-transition);
    
    --vpj-layout-notfound-content-max-width: 32rem;
    --vpj-layout-notfound-content-padding: 2rem;
    --vpj-layout-notfound-content-gap: .5rem;
    
    --vpj-layout-notfound-icon-color: var(--vpj-c-red-2);
    --vpj-layout-notfound-icon-size: 1.6rem;
    --vpj-layout-notfound-icon-margin-bottom: .5rem;
    
    --vpj-layout-notfound-title-color: var(--vpj-c-text-1);
    --vpj-layout-notfound-title-line-height: 1.4;
    --vpj-layout-notfound-title-margin-bottom: .2rem;
    --vpj-layout-notfound-title-size: 1.1rem;
    --vpj-layout-notfound-title-weight: var(--vpj-font-weight-semibold);
    
    --vpj-layout-notfound-text-color: var(--vpj-c-text-2);
    --vpj-layout-notfound-text-line-height: 1.4;
    --vpj-layout-notfound-text-margin-bottom: .5rem; 
    --vpj-layout-notfound-text-size: 1rem;
    --vpj-layout-notfound-text-weight: var(--vpj-font-weight-normal);
    
    --vpj-layout-notfound-link-bg: var(--vpj-c-bg);
    --vpj-layout-notfound-link-bg-hover: var(--vpj-c-bg-alt);
    --vpj-layout-notfound-link-border: var(--vpj-border-width-1) solid var(--vpj-c-divider);
    --vpj-layout-notfound-link-color: var(--vpj-c-text-2);
    --vpj-layout-notfound-link-color-hover: var(--vpj-c-text-1);
    --vpj-layout-notfound-link-radius: var(--vpj-border-radius-2);
    --vpj-layout-notfound-link-shadow: var(--vpj-shadow-2);
    --vpj-layout-notfound-link-size: 1rem;
    --vpj-layout-notfound-link-padding: .6rem .8rem;
    --vpj-layout-notfound-link-transform-active: scale(.98);
}

/* ---------------------------------------------------------
   Component: Layout Article
*/
:root {
    --vpj-layout-article-bg: var(--vpj-c-bg);
    --vpj-layout-article-border: var(--vpj-border);
    --vpj-layout-article-transition: var(--vpj-transition);
    --vpj-layout-article-wrapper-bg: transparent;
    
    --vpj-layout-article-btn-bg: var(--vpj-c-bg);
    --vpj-layout-article-btn-bg-hover: var(--vpj-c-bg-soft);
    --vpj-layout-article-btn-border: 0;
    --vpj-layout-article-btn-size: 2rem;
    --vpj-layout-article-btn-radius: var(--vpj-border-radius-1);
    --vpj-layout-article-btn-icon-color: var(--vpj-c-text-2);
    --vpj-layout-article-btn-icon-color-hover: var(--vpj-c-text-1);
    --vpj-layout-article-btn-icon-size: 1rem;

    --vpj-layout-article-controller-gap: .5rem;
    --vpj-layout-article-controller-padding-top: .5rem;
    --vpj-layout-article-controller-width: 3rem;
    
    --vpj-layout-article-controller-btn-bg: var(--vpj-layout-article-btn-bg);
    --vpj-layout-article-controller-btn-bg-hover: var(--vpj-layout-article-btn-bg-hover);
    --vpj-layout-article-controller-btn-border: var(--vpj-layout-article-btn-border);
    --vpj-layout-article-controller-btn-size: var(--vpj-layout-article-btn-size);
    --vpj-layout-article-controller-btn-radius: var(--vpj-layout-article-btn-radius);
    --vpj-layout-article-controller-btn-icon-color: var(--vpj-layout-article-btn-icon-color);
    --vpj-layout-article-controller-btn-icon-color-hover: var(--vpj-layout-article-btn-icon-color-hover);
    --vpj-layout-article-controller-btn-icon-size: var(--vpj-layout-article-btn-icon-size);
}

/* ---------------------------------------------------------
   Component: Article Header
*/
:root {
    --vpj-article-header-bg: var(--vpj-c-bg);
    --vpj-article-header-border: var(--vpj-layout-article-border);
    
    --vpj-article-header-info-height: 3.75rem;
    --vpj-article-header-info-padding-x: 1.25rem;
    
    --vpj-article-header-actions-height: 3rem;
    --vpj-article-header-actions-padding-x: 1.25rem;
    
    --vpj-article-header-btn-bg: var(--vpj-layout-article-btn-bg);
    --vpj-article-header-btn-bg-hover: var(--vpj-layout-article-btn-bg-hover);
    --vpj-article-header-btn-border: var(--vpj-layout-article-btn-border);
    --vpj-article-header-btn-size: var(--vpj-layout-article-btn-size);
    --vpj-article-header-btn-radius: var(--vpj-layout-article-btn-radius);
    --vpj-article-header-btn-icon-color: var(--vpj-layout-article-btn-icon-color);
    --vpj-article-header-btn-icon-color-hover: var(--vpj-layout-article-btn-icon-color-hover);
    --vpj-article-header-btn-icon-size: var(--vpj-layout-article-btn-icon-size);
    
    --vpj-article-header-brand-gap: .75rem;
    --vpj-article-header-brand-icon-size: 1.75rem;
    --vpj-article-header-brand-icon-radius: var(--vpj-border-radius-1);
    --vpj-article-header-brand-padding-x: 0;
    --vpj-article-header-brand-title-color: var(--vpj-c-text-1);
    --vpj-article-header-brand-title-size: 1.5rem;
    --vpj-article-header-brand-title-weight: var(--vpj-font-weight-bold);
    --vpj-article-header-brand-gap-tablet: .5rem;
    --vpj-article-header-brand-padding-x-tablet: .8rem 0;
    --vpj-article-header-brand-icon-size-mobile: 1.5rem;
    --vpj-article-header-brand-title-size-mobile: 1.25rem;
    
    --vpj-article-header-toolbar-gap: .25rem;
    
    --vpj-article-header-toolbar-divider-bg: var(--vpj-c-divider);
    --vpj-article-header-toolbar-divider-height: 1.5rem;
    --vpj-article-header-toolbar-divider-width: var(--vpj-border-width-1);
    --vpj-article-header-toolbar-divider-gap: .25rem;

    --vpj-article-header-toolbar-btn-tooltip-bg: var(--vpj-c-text-1);
    --vpj-article-header-toolbar-btn-tooltip-font-size: .875rem;
    --vpj-article-header-toolbar-btn-tooltip-max-width: 200px;
    --vpj-article-header-toolbar-btn-tooltip-padding: .375rem .5rem;
    --vpj-article-header-toolbar-btn-tooltip-radius: var(--vpj-border-radius-1);
    --vpj-article-header-toolbar-btn-tooltip-color: var(--vpj-c-bg);
    --vpj-article-header-toolbar-btn-tooltip-z-index: var(--vpj-z-index-5);
    
    --vpj-article-header-time-label-color: var(--vpj-c-text-2);
    --vpj-article-header-time-label-margin-left: 1rem;
    --vpj-article-header-time-label-size: 1rem;
    --vpj-article-header-time-label-weight: var(--vpj-font-weight-normal);
}

/* ---------------------------------------------------------
   Component: Article Footer
*/
:root {
    --vpj-article-footer-gap: 1.25rem;
    --vpj-article-footer-margin-bottom: .5rem;
    --vpj-article-footer-transition: var(--vpj-transition);

    --vpj-article-footer-nav-bg: var(--vpj-c-bg);
    --vpj-article-footer-nav-bg-hover: var(--vpj-c-bg);
    --vpj-article-footer-nav-gap: 1rem;
    --vpj-article-footer-nav-internal-gap: 1rem; 
    --vpj-article-footer-nav-height: 4.5rem;
    --vpj-article-footer-nav-padding-x: 1rem;
    --vpj-article-footer-nav-border: var(--vpj-border);
    --vpj-article-footer-nav-radius: var(--vpj-border-radius-1);
    
    --vpj-article-footer-nav-icon-color: var(--vpj-c-text-2);
    --vpj-article-footer-nav-icon-size: 1.25rem;
    
    --vpj-article-footer-nav-label-color: var(--vpj-c-text-2);
    --vpj-article-footer-nav-label-size: .75rem;
    --vpj-article-footer-nav-label-line-height: 1.25rem;
    --vpj-article-footer-nav-label-weight: var(--vpj-font-weight-normal);
    
    --vpj-article-footer-nav-text-color: var(--vpj-c-text-1);
    --vpj-article-footer-nav-text-color-hover: var(--vpj-c-indigo-2);
    --vpj-article-footer-nav-text-size: 1rem;
    --vpj-article-footer-nav-text-line-height: 1.25rem;
    --vpj-article-footer-nav-text-weight: var(--vpj-font-weight-normal);

    --vpj-article-footer-nav-shadow-hover: var(--vpj-shadow-2);
    --vpj-article-footer-nav-transform-hover: translateY(-4%);
    --vpj-article-footer-nav-border-active: var(--vpj-article-footer-nav-text-color-hover) solid var(--vpj-border-width-1);
    
    --vpj-article-footer-edit-link-gap: .5rem;
    --vpj-article-footer-edit-link-color: var(--vpj-c-indigo-2);
    --vpj-article-footer-edit-link-color-hover: var(--vpj-c-indigo-3);
    --vpj-article-footer-edit-link-icon-size: 1rem;
    --vpj-article-footer-edit-link-text-size: 1rem;
    --vpj-article-footer-edit-link-text-weight: var(--vpj-font-weight-normal);
    
    --vpj-article-footer-time-color: var(--vpj-c-text-2);
    --vpj-article-footer-time-size: 1rem;
    --vpj-article-footer-time-weight: var(--vpj-font-weight-normal);
}

/* ---------------------------------------------------------
   Component: Footer
*/
:root {
    --vpj-footer-bg: var(--vpj-c-bg);
    --vpj-footer-border: var(--vpj-border);
    --vpj-footer-padding: 2rem;
    --vpj-footer-padding-mobile: 1.5rem 1.25rem;
    --vpj-footer-transition: var(--vpj-transition);
    
    --vpj-footer-container-gap: .25rem;
    --vpj-footer-container-max-width: var(--vpj-layout-max-width);

    --vpj-footer-text-color: var(--vpj-c-text-2);
    --vpj-footer-text-size: 0.875rem;
    --vpj-footer-text-line-height: 1.5rem;
    --vpj-footer-text-weight: var(--vpj-font-weight-medium);

    --vpj-footer-link-decoration: underline;
    --vpj-footer-link-underline-offset: 2px;
    --vpj-footer-link-color: var(--vpj-c-text-2);
    --vpj-footer-link-color-hover: var(--vpj-c-text-1);
}

/* ---------------------------------------------------------
   Component: Article Aside
*/
:root {
    --vpj-article-aside-bg: var(--vpj-c-bg);
    --vpj-article-aside-border: var(--vpj-border);
    --vpj-article-aside-width: min(55vw, 20.25rem);
    --vpj-article-aside-width-mobile: min(85vw, 21.75rem);
    --vpj-article-aside-transition: var(--vpj-transition);
    --vpj-article-aside-z-index: var(--vpj-z-index-3);
    
    --vpj-article-aside-header-bg: var(--vpj-c-bg);
    --vpj-article-aside-header-border: var(--vpj-border);
    --vpj-article-aside-header-height: 2.5rem;
    --vpj-article-aside-header-tabbox-mask-gradient: linear-gradient(
        to right,
        transparent,
        black .5rem,
        black calc(100% - .5rem),
        transparent
    );
    --vpj-article-aside-header-tablist-padding-x: .75rem;
    --vpj-article-aside-header-tablist-gap: .5rem;
    
    --vpj-article-aside-tab-bg: transparent;
    --vpj-article-aside-tab-bg-hover: var(--vpj-c-bg-soft);
    --vpj-article-aside-tab-color: var(--vpj-c-text-2);
    --vpj-article-aside-tab-color-hover: var(--vpj-c-text-1);
    --vpj-article-aside-tab-height: 1.5rem;
    --vpj-article-aside-tab-padding-x: .5rem;
    --vpj-article-aside-tab-radius: var(--vpj-border-radius-1);
    --vpj-article-aside-tab-font-size: .875rem;
    --vpj-article-aside-tab-border-active: var(--vpj-border);
    
    --vpj-article-aside-close-bg: var(--vpj-c-bg);
    --vpj-article-aside-close-bg-hover: var(--vpj-c-bg-soft);
    --vpj-article-aside-close-border: 0;
    --vpj-article-aside-close-size: 1.6rem;
    --vpj-article-aside-close-radius: var(--vpj-border-radius-1);
    --vpj-article-aside-close-icon-color: var(--vpj-c-text-2);
    --vpj-article-aside-close-icon-color-hover: var(--vpj-c-text-1);
    --vpj-article-aside-close-icon-size: 1rem;
    --vpj-article-aside-close-margin-x: .3125rem;
    
    --vpj-article-aside-fallback-bg: transparent;
    --vpj-article-aside-fallback-color: var(--vpj-c-text-3);
    --vpj-article-aside-fallback-font-size: 1.25rem;
    --vpj-article-aside-fallback-font-weight: var(--vpj-font-weight-normal);
    --vpj-article-aside-fallback-line-height: 1.5;
    --vpj-article-aside-fallback-padding-x: 1.2rem;
    
    --vpj-article-aside-overlay-bg: transparent;
    --vpj-article-aside-overlay-bg-mobile: var(--vpj-overlay);
    --vpj-article-aside-overlay-z-index: var(--vpj-z-index-2);
}

/* ---------------------------------------------------------
   Component: Article Aside Tab Outline
*/
:root {
    --vpj-article-aside-tab-outline-bg: transparent;
    --vpj-article-aside-tab-outline-gap: 0;
    --vpj-article-aside-tab-outline-padding-y: .375rem 1.375rem;
    --vpj-article-aside-tab-outline-transition: var(--vpj-transition);
    
    --vpj-article-aside-tab-outline-item-bg: transparent;
    --vpj-article-aside-tab-outline-item-bg-hover: var(--vpj-c-bg-soft);
    --vpj-article-aside-tab-outline-item-padding-y: .375rem;
    --vpj-article-aside-tab-outline-item-padding-x: .25rem;
    --vpj-article-aside-tab-outline-item-gap: .25rem;
    --vpj-article-aside-tab-outline-item-indent-unit: 1rem;

    --vpj-article-aside-tab-outline-toggle-bg: transparent;
    --vpj-article-aside-tab-outline-toggle-bg-hover: transparent;
    --vpj-article-aside-tab-outline-toggle-icon-size: .75rem;
    --vpj-article-aside-tab-outline-toggle-icon-color: var(--vpj-c-text-2);
    --vpj-article-aside-tab-outline-toggle-icon-color-hover: var(--vpj-c-text-1);
    --vpj-article-aside-tab-outline-toggle-radius: .5rem;
    --vpj-article-aside-tab-outline-toggle-size: 1rem;

    --vpj-article-aside-tab-outline-title-color: var(--vpj-c-text-1);
    --vpj-article-aside-tab-outline-title-size: .875rem;
    --vpj-article-aside-tab-outline-title-weight: var(--vpj-font-weight-normal);

    --vpj-article-aside-tab-outline-title-color-hover: revert;
    --vpj-article-aside-tab-outline-title-decoration-hover: underline;
    --vpj-article-aside-tab-outline-title-size-hover: revert;
    --vpj-article-aside-tab-outline-title-weight-hover: revert;

    --vpj-article-aside-tab-outline-title-color-current: revert;
    --vpj-article-aside-tab-outline-title-decoration-current: revert;
    --vpj-article-aside-tab-outline-title-size-current: revert;
    --vpj-article-aside-tab-outline-title-weight-current: var(--vpj-font-weight-bold);
}

/* ---------------------------------------------------------
   Component: Article Aside Tab Resources
*/
:root {
    --vpj-article-aside-tab-resources-bg: transparent;
    --vpj-article-aside-tab-resources-transition: var(--vpj-transition);

    --vpj-article-aside-tab-resources-list-gap: .5rem;
    --vpj-article-aside-tab-resources-list-padding: .75rem .5rem;

    --vpj-article-aside-tab-resources-item-bg: var(--vpj-c-bg);
    --vpj-article-aside-tab-resources-item-bg-hover: var(--vpj-c-bg-soft);
    --vpj-article-aside-tab-resources-item-border: var(--vpj-c-divider) solid var(--vpj-border-width-1);
    --vpj-article-aside-tab-resources-item-border-hover: var(--vpj-border);
    --vpj-article-aside-tab-resources-item-radius: var(--vpj-border-radius-1);
    --vpj-article-aside-tab-resources-item-shadow: var(--vpj-shadow-1);
    --vpj-article-aside-tab-resources-item-shadow-hover: var(--vpj-shadow-2);
    --vpj-article-aside-tab-resources-item-shadow-active: none;
    --vpj-article-aside-tab-resources-item-height: 3.2rem;
    --vpj-article-aside-tab-resources-item-transform-hover: scale(1.02);
    --vpj-article-aside-tab-resources-item-transform-active: scale(.98);

    --vpj-article-aside-tab-resources-item-icon-color: var(--vpj-c-text-2);
    --vpj-article-aside-tab-resources-item-icon-color-hover: var(--vpj-c-text-1);
    --vpj-article-aside-tab-resources-item-icon-default-size: 1rem;
    --vpj-article-aside-tab-resources-item-icon-wrapper-width: 3rem;
    
    --vpj-article-aside-tab-resources-item-label-color: var(--vpj-c-text-2);
    --vpj-article-aside-tab-resources-item-label-color-hover: var(--vpj-c-text-1);
    --vpj-article-aside-tab-resources-item-label-padding-x: .6rem;
    --vpj-article-aside-tab-resources-item-label-size: .875rem;
    --vpj-article-aside-tab-resources-item-label-weight: var(--vpj-font-weight-normal);
}

/* ---------------------------------------------------------
   Component: Article Aside Tab Series
*/
:root {
    --vpj-article-aside-tab-series-bg: transparent;
    --vpj-article-aside-tab-series-transition: var(--vpj-transition);

    --vpj-article-aside-tab-series-list-padding: .75rem;
    --vpj-article-aside-tab-series-list-gap: .5rem;

    --vpj-article-aside-tab-series-item-bg: var(--vpj-c-bg);
    --vpj-article-aside-tab-series-item-bg-hover: var(--vpj-c-bg);
    --vpj-article-aside-tab-series-item-border: var(--vpj-border);
    --vpj-article-aside-tab-series-item-border-hover: var(--vpj-border);
    --vpj-article-aside-tab-series-item-border-current: var(--vpj-border-width-1) solid var(--vpj-c-indigo-3);
    --vpj-article-aside-tab-series-item-radius: var(--vpj-border-radius-2);
    --vpj-article-aside-tab-series-item-shadow: var(--vpj-shadow-1);
    --vpj-article-aside-tab-series-item-shadow-hover: var(--vpj-shadow-2);
    --vpj-article-aside-tab-series-item-shadow-active: none;
    --vpj-article-aside-tab-series-item-height: 5rem;
    --vpj-article-aside-tab-series-item-gap: .5rem;
    --vpj-article-aside-tab-series-item-padding-x: .5rem;
    --vpj-article-aside-tab-series-item-transform-hover: scale(1.02);
    --vpj-article-aside-tab-series-item-transform-active: scale(.98);

    --vpj-article-aside-tab-series-item-color: var(--vpj-c-text-1);
    --vpj-article-aside-tab-series-item-color-hover: var(--vpj-c-text-3);
    --vpj-article-aside-tab-series-item-color-current: var(--vpj-c-indigo-1);
    --vpj-article-aside-tab-series-item-color-current-hover: var(--vpj-c-indigo-3);

    --vpj-article-aside-tab-series-item-cover-border: 0;
    --vpj-article-aside-tab-series-item-cover-border-current: 0;
    --vpj-article-aside-tab-series-item-cover-height: 4rem;
    --vpj-article-aside-tab-series-item-cover-width: 5.5rem;
    --vpj-article-aside-tab-series-item-cover-radius: var(--vpj-border-radius-1);
    
    --vpj-article-aside-tab-series-item-cover-icon-size: 1.75rem;

    --vpj-article-aside-tab-series-item-title-size: 1rem;
    --vpj-article-aside-tab-series-item-title-weight: var(--vpj-font-weight-semibold);
    --vpj-article-aside-tab-series-item-title-line-height: 1.75rem;
    --vpj-article-aside-tab-series-item-title-padding: .25rem;

    --vpj-article-aside-tab-series-item-tagbox-margin-x: .25rem;
    --vpj-article-aside-tab-series-item-tagbox-mask: linear-gradient(
        to right,
        transparent,
        black .3rem,
        black calc(100% - .3rem),
        transparent
    );
    --vpj-article-aside-tab-series-item-taglist-gap: .25rem;
    --vpj-article-aside-tab-series-item-taglist-padding: .25rem .4rem .35rem;
}

/* ---------------------------------------------------------
   Component: Article Aside Tab Tree
*/
:root {
    --vpj-article-aside-tab-tree-bg: transparent;
    --vpj-article-aside-tab-tree-transition: var(--vpj-transition);

    --vpj-article-aside-tab-tree-list-padding: 1rem 0 1rem .75rem;
    --vpj-article-aside-tab-tree-list-gap: .25rem;

    --vpj-article-aside-tab-tree-node-bg: var(--vpj-c-bg);
    --vpj-article-aside-tab-tree-node-bg-hover: var(--vpj-c-bg-soft);
    --vpj-article-aside-tab-tree-node-bg-current: var(--vpj-c-bg-soft);
    --vpj-article-aside-tab-tree-node-color: var(--vpj-c-text-2);
    --vpj-article-aside-tab-tree-node-color-hover: var(--vpj-c-text-1);
    --vpj-article-aside-tab-tree-node-color-current: var(--vpj-c-text-1);
    --vpj-article-aside-tab-tree-node-weight: var(--vpj-font-weight-normal);
    --vpj-article-aside-tab-tree-node-weight-hover: revert;
    --vpj-article-aside-tab-tree-node-weight-current: revert;
    --vpj-article-aside-tab-tree-node-height: 2.25rem;
    --vpj-article-aside-tab-tree-node-radius: var(--vpj-border-radius-1);
    --vpj-article-aside-tab-tree-node-padding-x: .75rem .375rem;
    --vpj-article-aside-tab-tree-node-font-size: .875rem;
    
    --vpj-article-aside-tab-tree-node-toggle-bg: transparent;
    --vpj-article-aside-tab-tree-node-toggle-bg-hover: var(--vpj-c-bg);
    --vpj-article-aside-tab-tree-node-toggle-size: 1.5rem;
    --vpj-article-aside-tab-tree-node-toggle-radius: var(--vpj-border-radius-1);
    --vpj-article-aside-tab-tree-node-toggle-icon-color: var(--vpj-c-text-2);
    --vpj-article-aside-tab-tree-node-toggle-icon-color-hover: var(--vpj-c-text-1);
    --vpj-article-aside-tab-tree-node-toggle-icon-size: 0.75rem;

    --vpj-article-aside-tab-tree-node-children-border-left: var(--vpj-border-width-1) solid var(--vpj-c-divider);
    --vpj-article-aside-tab-tree-node-children-gap: .25rem;
    --vpj-article-aside-tab-tree-node-children-margin: .25rem 0 0 .875rem;
    --vpj-article-aside-tab-tree-node-children-padding: 0 0 0 .25rem;
}

/* ---------------------------------------------------------
   Component: Article Aside Tab Tags
*/
:root {
    --vpj-article-aside-tab-tags-bg: transparent;

    --vpj-article-aside-tab-tags-list-padding: 0.75rem 0.5rem;
    --vpj-article-aside-tab-tags-list-gap-row: 0.5rem;
    --vpj-article-aside-tab-tags-list-gap-col: 0.35rem;
}